services:
  postgres:
    container_name: gestao_vagas_postgres
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: gestao_vagas
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
